$lightgray: #eeeeee
$main_color: $lightgray

#header
  clear: both

#data
  padding: .5em

#avatar
  float: right

#contact
  float: left

h1
  background-color: $main_color
  -moz-border-radius: .25em
  -webkit-border-radius: .25em
  padding: .5em

// Configuracions de la taula
table
  border-spacing: .1em
  border-collapse: collapse

tr
  text-align : left
  &:hover
    background-color: $lightgray
