#data {
  padding: 0.5em; }

#avatar {
  float: right; }
  #avatar img {
    width: 200px; }

#contact {
  float: left; }
  #contact img {
    width: 96px; }

h1 {
  background-color: silver;
  padding: 0.5em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em; }

table {
  border-spacing: 0.1em;
  border-collapse: collapse; }

tr {
  text-align: left; }
  tr:hover {
    background-color: #eeeeee; }
