$lightgray: #eeeeee
// $main_color: silver
$main_color: #A6C2E1 // blau xulo
$icon_height: 96px
$icons: 3

#data
  padding: .5em

#avatar
  float: right
  img
    width: $icon_height * $icons

#contact
  float: left

  img
    width: $icon_height 

#thanks
  position: relative
  clear: both
  padding: .5em
  p
    text-align: right


h1
  background-color: $main_color
  padding: .5em
  -moz-border-radius: .25em
  -webkit-border-radius: .25em

// Configuracions de la taula
table
  border-spacing: .1em
  border-collapse: collapse

tr
  text-align : left
  &:hover
    background-color: $lightgray
