#data {
  padding: 0.5em; }

#avatar {
  float: right; }

#contact {
  float: left; }
  #contact img {
    width: 3em; }

#thanks {
  float: right;
  position: relative;
  clear: both;
  padding: 0.5em;
  text-align: right; }
  #thanks img {
    width: 3em; }

h1 {
  background-color: #a6c2e1;
  padding: 0.5em;
  border-radius: 0.25em; }

table {
  border-spacing: 0.1em;
  border-collapse: collapse; }

tr {
  text-align: left; }
  tr:hover {
    background-color: #eeeeee; }
